<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/google-analytics %>
	<% include ../partials/header %>
	<div class="plax content">
	  <div class="container" style="padding-top: 80px;">
			<div class="row">
				<div class="col-md-12">
					<% include header %>
	      </div>
	    </div>
			<div class="row">
			</div>
	  </div>
	</div>
  <% include ../partials/footer %>
  <% include ../partials/bootstrapjs %>
</body>
