<div class="panel">
  <div class="btn-group" role="group" aria-label="...">
    <a href="/admin/account" type="button" class="btn btn-default">Inicio</a>
    <a href="/admin/players" type="button" class="btn btn-default">Lista Jugadores</a>
    <a href="/admin/leagues" type="button" class="btn btn-default">Lista Competencias</a>
    <button type="button" class="btn btn-default">Lista Noticias</button>
    <button type="button" class="btn btn-default">Editar Info</button>
  </div>
</div>
