<footer class="navbar navbar-static-bottom bs-docs-nav navbar-default" role="banner" style="margin-bottom: 0px;color:white;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h2 class="title-widget">D2EG en Internet</h2>
            <ul class="list-unstyled">
              <li><a href="https://www.youtube.com/channel/UCwpH438VouP6rbByg1E095g"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Youtube</a></li>
              <li><a href="https://www.twitch.tv/d2egcl"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Twitch</a></li>
              <li><a href="https://discordapp.com/channels/159817702238584832/159817702238584832"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> DiscordApp</a></li>
              <li><a href="http://steamcommunity.com/groups/D2EG"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Steam Group</a></li>
              <li><a href="https://battlefy.com/d2eg"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Battlefy</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h2 class="title-widget">Social</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Facebook</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Twitter</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Instagram</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Messenger</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h2 class="title-widget">Links</h2>
            <ul class="list-unstyled">
              <li><a href="http://www.dota2.com/687?l=spanish"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Última actualización</a></li>
              <li><a href="http://blog.dota2.com/"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Blog Dota2</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h2 class="title-widget">Nosotros</h2>
            <address>
              <strong>Elite Gamers</strong><br>
              Valparaíso, Chile<br>
              <abbr title="Mail">M:</abbr> contacto@d2eg.com
            </address>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
