<div id="carousel1" class="carousel slide" data-ride="carousel">



  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" >
      <div>
        <img src="/img/carousel/copa.png" width="100%" height="300px" class="blend" alt="...">
        <div class="carousel-caption">

          <h3>Copa D2EG 4.1</h3>
          <p>Equipos de todo lugar luchando por el honor de ser campeón.</p>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <img src="/img/carousel/2.jpg" width="100%" height="300px" class="blend" alt="...">
        <div class="carousel-caption">
          <h3>Última Actualización</h3>
          <p>Continua el desbalanceo...</p>
        </div>
      </div>
    </div>

  </div>
</div>
