<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">Publicidad</div>
      <div class="panel-body">
        Tu anuncio podria estar aquí.
      </div>
    </div>
  </div>
</div>
