

  <div class="row">

    <!-- <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">Publicidad</div>
        <div class="panel-body" ><p>Tu anuncio podría estar aquí.</p></div>
      </div>
    </div> -->

    <div class="col-md-11">
      <div class="page-header">
        <h4 id="title">Auspiciadores</h4>
      </div>
    </div>
    <div class="col-md-12">
      <a href="https://www.facebook.com/Onlyforfun-560764870692454/">
        <img src="/img/auspicio/1.png" class="img-responsive" alt="Responsive image">
      </a>

    </div>
  </div>
